body, html {
    height: 100%;
    word-wrap: break-word;
    font-family: sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: #2a2a2a;
    background: #fff;
    font-size: 90%;
    -webkit-text-size-adjust: none;
}
main, #leftSection { background: #fafafa }
main {
    height: 568px;
    width: 320px;
    box-sizing: border-box;
    margin: auto;
    top: 0; bottom: 0;
    left: 0; right: 0;
    border: 1px #4c4c4c solid;
}
@media screen and (orientation:landscape) {  
    html { transform: rotate(90deg) }
}
dv {
    margin: 5px 0;
    border-top: 2px #4c4c4c dashed;
    height: 0;
    display: inline-block;
    width: 100%;
}
.button {
    background: #4c4c4c;
    border: #4c4c4c solid 1px;
    border-radius: 3px;
    font-size: 15px;
    padding: 16px 8px;
    width: calc(90% - 18px);
    margin: 2.5px 9px;
    cursor: pointer;
    color: yellow;
}
.button:active { background: #555 }
section {
    width: 318px !important;
    height: 566px;
    box-sizing: border-box;
    overflow: hidden;
}
.header {
    border-bottom: 1px #4c4c4c solid;
    line-height: 20px; 
    margin-bottom: 5px;
}
#bButton {
    width: 173px;
    height: 173px;
    border: 2px #4c4c4c solid;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    bottom: calc(50% - 87.5px);
    left: calc(50% - 87.5px);
    cursor: pointer;
    background-color: #fff;
}
#bButton:active {
  width: 160px;
  height: 160px;
  bottom: calc(50% - 80px);
  left: calc(50% - 80px);
}
#bName, #logText {
    border-radius: 25px;
    border: 1px #4c4c4c solid;
    background: #4c4c4c;
    font-size: 15px;
    padding: 16px 8px;
    width: calc(90% - 18px);
    text-align: center;
    color: yellow;
}
#bName { bottom: 96px }
#interestDiv {
    bottom: 0;
    margin-bottom: 0;
    border-bottom: 0;
    border-top: 1px #4c4c4c solid;
}
#interestDiv, #pointsDiv, #achievementsGroup {
    word-wrap: normal;
    white-space: nowrap;
    padding: 8px 0;
    font-size: 16px;
    line-height: 16px;
}
#btnDeposit, #bUnlock, #bName, #logText {
    left: calc(50% - 143px);
    margin: 2.5px 0;
}
#logText {
    border-radius: 25px;
    top: 111px;
}
.flicker { animation: f 1.5s infinite }
#btnDeposit:active {
    padding: 11px 3px;
    margin: 7.5px 5px;
}
#btnDeposit { bottom: 40px }
#LeftArrow, #RightArrow, #ach { background: #4c4c4c center/80% no-repeat }
#LeftArrow, #RightArrow { background-image: url(http://thebclickteam.tk/lib/bcl/img/arrow.svg) }
.arrow:active { background-color: #555 !important }
.arrow {
    border-radius: 27px;
    padding: 5px;
    width: 40px;
    height: 40px;
    border: 2px #4c4c4c solid;
    top: calc(50% - 55px);
}
#LeftArrow, #ach { left: calc(50% - 150px) }
#RightArrow { right: calc(50% - 150px) }
#LeftArrow { transform: rotate(180deg) }
#ach {
    top: calc(50% + 10px);
    background-image: url(http://thebclickteam.tk/lib/bcl/img/star.svg)
}
#leftSection {
    display: none;
    z-index: 3;
}
.achieveItem {
    background: transparent;
    border: 2px #2a2a2a solid;
    color: #2a2a2a;
    border-radius: 50%;
    line-height: 25px;
    font-size: 14px;
    width: calc(15% - 9px);
    padding: calc(7.5% - 9px) 2.5%;
    margin: 2.5px;
    font-weight: bold;
}
#leftSection .button {
    margin: auto;
    left: 0;
    right: 0;
    position: absolute;
    bottom: 4px;
}
.achieveCategory {
    margin: 2px 0px;
    font-size: 16px;
}
#achievementsGroup {
    background: yellow;
}
.achieveItem[style] {
    width: calc(15% - 5px);
    padding: calc(7.5% - 7px) 2.5%;
    border: 0;
}
.achieveCategory, .achieveItem, #confirmPopup, .button, .header { text-align: center }
main, #bButton, section, .arrow, #btnDeposit, #logText, #bUnlock, #bName, #interestDiv, #loader, #confirmPopup footer { position: absolute }
#popupOverlay, #confirmPopup { position: fixed }
#logText, #confirmPopup, #popupOverlay, main { display: none }
.arrow, .achieveItem, .header { vertical-align: middle }
.button, .achieveItem { display: inline-block }
#confirmPopup h1, body, html, .arrow { margin: 0 }
.achieveCategory, #confirmPopup footer, #popupOverlay, body, html, .header { width: 100%; }
@keyframes f {
    0% { opacity:0 }
    25% { opacity:1 }
    75% { opacity:1 }
    100% { opacity:0 }
}
#loader {
    border: 16px solid #4c4c4c;
    border-radius: 50%;
    border-top: 16px solid yellow;
    width: 150px;
    height: 150px;
    left: calc(50% - 91px);
    top: calc(50% - 91px);
    animation: s 2s infinite;
}
@keyframes s { 100% { transform: rotate(360deg); } }
#confirmPopup {
    background: yellow;
    border-radius: 25px;
    z-index: 1;
}
#confirmPopup {
    height: 128px;
    width: 250px;
    top: calc(50% - 64px);
    left: calc(50% - 125px);
}
#confirmYesBtn, #confirmNoBtn {
    width: calc(42.5% - 30px);
    margin: 1px calc(1% - 0.5px) !important;
}
#popupOverlay {
    height: 100%;
    background: #2a2a2a;
    opacity: 0.5;
    left: 0;
    top: 0;
}