/*===========================================
    bClick - The Addicting b-Click-ing Game  
=============================================
      Copyright Cameron Samuels 2012-2016
=============================================
    This code includes:
        -My own created code
        -Code from Stack overflow (not mine)
        -Code from random sites
=============================================
    Use this code at your own risk!
===========================================*/

body, html {
    padding: 0px;
    margin: 0px;
    
    word-wrap: break-word;
    text-transform: capitalize;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

main {
    height: 320px;
    width: 569px;

    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    border: 1px black solid;
}

main, body, html {
    overflow: hidden;
    background-color: #FFF;
}

@media screen and (max-height: 400px) {
    body { zoom: 100%; }
}

@media screen and (min-height: 400px) {
    body { zoom: 125%; }
}

@media screen and (min-height: 500px) {
    body { zoom: 150%; }
}

/*=============
    Classes
=============*/

.clear {
    clear: both;
}

.divider {
    display: block !important;
    margin: 5px 0px;
    border-top: 2px black dashed;
    height: 0px;
}

.button {
    background-color: #2a2a2a;
    border: #0a0a0a solid 1px;
    border-radius: 3px;
    color: yellow;
    display: inline-block;
    font-size: 13px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    width: calc(90% - 30px - 2px);
    transition: all 0.5s ease;
    margin: 2.5px 9px !important;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    cursor: pointer;
}

.button:hover {
  background-color: yellow;
  color: #2a2a2a;
  box-shadow: 5px 5px 15px #2a2a2a;
}

.section {
    width: 189px !important;
    height: 320px; 
    border: 1px black solid;
    overflow-y: auto;
    position: absolute;
}

.header {
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;   
    width: 100%; 
    margin-bottom: 5px;
    background-color: #FFF;
}

.category-header, .section-header {
    background-color: yellow;
}

.dashedHeader {
    border-top: 1px black dashed;
    border-bottom: 1px black dashed;
}

/*=============
    The B
=============*/

#bButton {
    width: 50px;
    height: 50px;
    border: 1px #999 solid;
    border-radius: 3px;
    padding: 25px;
    background-image: url("https://playbclick.com/assets/b/325/lowercase.png");
    background-position: center;
    background-size: cover;
    background-color: #DDD;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -o-user-select: none; 
    transition: box-shadow 0.5s;
    position: absolute;
    top: calc(50% - 50px);
    bottom: calc(50% - 50px);
    left: calc(50% - 50px);
}

#bButton:active {
  background-color: #AAA;
  width: 45px;
  height: 45px;
  top: calc(50% - 47.5px);
  left: calc(50% - 47.5px);
}

#bButton:hover {
    box-shadow: 5px 5px 15px #2a2a2a;
}

#bSection {
    left: calc(50% - 94.5px);
}

/*==============
    B Section
==============*/

#interestDiv {
    position: absolute;
    bottom: 2px;
    margin-bottom: 0px;
    border-bottom-width: 0px;
}

#interestDiv, #pointsDiv {
    word-wrap: normal;
    white-space: nowrap;
}

#btnDeposit, #bUnlock {
    position: absolute;
    left: 9px;
    margin: 2.5px 0px !important;
}

#btnDeposit {
    bottom: 30px;
}

/*=============
    Arrows
=============*/

.Arrow {
    position: absolute;
    border-radius: 25px;
    
    padding: 5px;
    margin: 0 !important;
    
    width: 20px;
    height: 20px;

    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #DDD;
  
    top: calc(50% - 12.5px);
    bottom: calc(50% - 12.5px);
}

#LeftArrow {
    background-image: url("https://playbclick.com/assets/img/arrow/left.png");
    left: calc(50% - 87.5px);
}

#RightArrow {
    background-image: url("https://playbclick.com/assets/img/arrow/right.png");
    right: calc(50% - 87.5px);
}

/*==============
    Settings
==============*/

.settingGroup {
    width: 100%;
    text-align: left;
}

.settingGroup .button {
    display: block;
}

.settingGroup div {
    display: inline;
}

.achieveItem {
    background-color: #F00;
    color: #FFF;
    border-bottom: 1px black solid;
    border-top: 1px black solid;
    
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    
    height: auto;
    width: 100%;
    
    margin-bottom: 5px;
}

.minimize {
    float: right;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: #DDD;
}

.minimize:hover {
    background-color: #888;
}

#settingsSection {
	left: calc(50% + 94.6666666666666px);
}

/*=============
    Messages
=============*/

#logText {
   -webkit-animation: flickerAnimation 1.5s infinite;
   -moz-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
    display: none;
  
    color: yellow;
    background-color: #2a2a2a;
  
    width: 300px;
    border-radius: 7.5px;

    position: fixed;
    bottom: 5px;
    left: 0;
    right: 0;
  
    margin: auto;
    padding: 5px;

    text-align: center;
}

@keyframes flickerAnimation {
    0%   { opacity:0; }
    25%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:0; }
    25%  { opacity:1; }
    75%  { opacity:1; }
    100%  { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:0; }
    25%  { opacity:1; }
    75%  { opacity:1; }
    100% { opacity:0; }
}

/*============
    IFrames
============*/

#FirstPlaceIframe {
  padding: 0px; 
  border-left: 0px; 
  border-right: 0px;
  border-bottom: 1px black solid; 
  border-top: 1px black solid;
  width: calc(100% - 2px); 
  height: 20px; 
  overflow:hidden; 
  margin: 2.5px 0;
}

#winFrame, #statsFrame {
	display: none;
}

#FirstPlaceIframe {
    display: inline-block;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
    overflow-y: hidden !important;
}

/*=============
    Other
=============*/

#theLog ul, #theLog ul li {
    margin: 0;
    padding: 0;
}

#theLog ul {
    display: table;
}

#theLog ul li {
    display: table-row;
}

#theLog ul li::before {
    content: "-";
    display: table-cell;
    text-align: right;
    padding-right: .3em;
}


/*================
    B Classes
================*/

.discoB {
    background-color: white;
    -webkit-animation-name: DiscoBAnimation;
    -webkit-animation-duration: 4s;
    animation-name: DiscoBAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes DiscoBAnimation {
    0%   {background-color: red;}
    10%  {background-color: yellow;}            
    30%  {background-color: green;}
    55%  {background-color: blue;}
    85%  {background-color: yellow;}
    100% {background-color: red;}
}

@keyframes DiscoBAnimation {
    0%   {background-color: red;}
    20%  {background-color: yellow;}        
    40%  {background-color: green;}
    60%  {background-color: blue;}
    80%  {background-color: white;}
    100% {background-color: red;}
}

.gradientB {
      background: -webkit-linear-gradient(left, red , blue);
      background: -o-linear-gradient(right, red, blue);
      background: -moz-linear-gradient(right, red, blue);
      background: linear-gradient(to right, red , blue);
      background-color: none;
}
.patternB {
    background: url('https://playbclick.com/assets/img/bg/pattern.jpg');
}

/*=================
    Scrollbars
=================*/

::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(50,50,50,0.4); 
}