# STRONG HTACCESS PROTECTION #
<Files ~ "^.*\.([Hh][Tt][Aa])">
 order allow,deny
 deny from all
</Files>

<IfModule mod_expires.c>
ExpiresActive On
ExpiresDefault "access plus 12 hours"
</IfModule>

# Versions #
Redirect 307 /play/live/index.html https://playbclick.com/web

# Downloading Versions #
Redirect 307 /android https://play.google.com/store/apps/details?id=com.playbclick.bclick
Redirect 307 /chrome https://chrome.google.com/webstore/detail/bclick/fccplfmeljdiinmnjbemkgaganpbkghf
Redirect 307 /web https://playbclick.com/v/3/4/4/?21

# Apps #
#Redirect 307 /bocracy/index.html/ https://playbclick.com/bocracy/index.html?26
Redirect 307 /create https://playbclick.com/apps/create
Redirect 307 /dice https://playbclick.com/apps/dice
Redirect 307 /bnoodle https://playbclick.com/apps/bnoodle

# Error Messages #
ErrorDocument 404 /

# User Feedback #
Redirect 307 /feedback mailto:team@playbclick.com
Redirect 307 /contact mailto:team@playbclick.com
Redirect 307 /support mailto:team@playbclick.com