html, body {
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 100%;
}
main {
	width: 100%;
	height: 100%;
}
#word {
	height: 250px;
	width: 100%;
	
	cursor: pointer;
	-moz-user-select: none; 
    -webkit-user-select: none;

    text-transform: capitalize;
	text-align: center;
	font-size: 500%;

	position: absolute;
	top:  calc(50% - 125px);
}
#info {
    text-align: center;
    
    padding: 10px;
    
    position: absolute;
    bottom: 0px;
    right: 0px;
}
@media screen and (max-width: 500px) {
    #info {
        display: none;
    }
}
@media screen and (max-height: 500px) {
    #info {
        display: none;
    }
}
.flicker {
    -webkit-animation: flickerAnimation 1.5s infinite;
    animation: flickerAnimation 1.5s infinite;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%   { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%   { opacity:0; }
    100% { opacity:1; }
}