# RewriteEngine on
# RewriteCond %{REQUEST_URI} !^3/4/3($|/)
# RewriteCond %{QUERY_STRING} (!b=H0n3Y/*|!b=H0n3Y$)
# RewriteRule  ^(.*)($|/) https://playbclick.com [L,R=301]

# RewriteEngine on
# RewriteCond %{REQUEST_URI} !^3/4/3($|/)
# RewriteRule ^(.*)$ https://playbclick.com [R=301,L]

RewriteEngine on
RewriteRule !^3/4/3($|/) https://playbclick.com [L,R=301]