html, body {
	margin: 0px;
	padding: 0px;

	width: 100%;
	height: 100%;
}
main {
	width: 100%;
	height: 100%;
	
	transition: background-color 1s;
}
#dice {
	height: 250px;
	width: 250px;

	position: absolute;
	left: calc(50% - 125px);
	top:  calc(50% - 125px);
	
	cursor: pointer;
	-moz-user-select: none; 
    -webkit-user-select: none;
}
#info {
    text-align: center;
    
    padding: 10px;
    
    position: absolute;
    bottom: 0px;
    right: 0px;
}
#settings {
    width: 230px;
    
    padding: 10px;
    
    position: absolute;
    top: calc(50% + 125px);
    left: calc(50% - 125px);
}
#settings button {
    width: 100%;
}
#vibration {
    display: none;
}
@media screen and (max-width: 500px) {
    #info {
        display: none;
    }
}
@media screen and (max-height: 500px) {
    #info {
        display: none;
    }
}
.anim {
    -webkit-animation-name: anim;
    -webkit-animation-duration: 1s;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@-webkit-keyframes anim {
    0% { -webkit-transform: rotate(0deg); }
    25% { -webkit-transform: rotate(95deg); }
    50% { -webkit-transform: rotate(180deg); }
    75% { -webkit-transform: rotate(-95deg); }
    100% { -webkit-transform: rotate(0deg); }
}
@keyframes anim {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(95deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(-95deg); }
    100% { transform: rotate(0deg); }
